In [8]:

from joblib import dump, load # used for saving and loading sklearn objects
from scipy.sparse import save_npz, load_npz # used for saving and loading sparse matrices
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
import pandas as pd
from os import mkdir

pd.set_option('display.max_rows', 500)
reviews = pd.read_csv('airbnb_reviews.csv')

try:
    mkdir('data_preprocessors')
    mkdir('vectorized_data')
except:
    pass

In [9]:
reviews['id']

,id,author,rating,comments
0,390395,Sergio,5,Excellent host and great and clear comunicaciÃ...
1,390395,Lauren,5,Seanâ€™s place was fantastic. Highly recommend!!
2,390395,Christina,5,Seanâ€™s place is very comfortable and cute. S...
3,390395,Hattie,5,Sean was a great host. Super friendly and acco...
4,390395,Daniel,5,Super cute bed room. The host answered all que...